.header {
	background-color: rgb(255, 242, 229);
	border-bottom: 3px solid #ffe0c0;
	height: 35px;
	overflow: hidden;
	padding: 13px 1.5%;
	margin-bottom: 14px;
}

body {
	margin: 0;
}

h1,
#text-body {
	margin: 0 2%;
}

h2 {
	border-bottom: 1px solid #979797;
	font-weight: normal;
  	-webkit-margin-after: 0.4em
}

h3 {
	border-bottom: 1px solid #979797;
	font-weight: normal;
  	-webkit-margin-after: 0.2em
}

h4 {
	font-weight: normal;
}


a {
	color: #a05904;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
