.header {
	background-color: rgb(255, 242, 229);
	border-bottom: 3px solid #ffe0c0;
	height: 35px;
	overflow: hidden;
	padding: 13px 1.5%;
	margin-bottom: 14px;
}

body {
	margin: 0;
}

h1,
#text-body {
	margin: 0 2%;
}

a {
	color: #a05904;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
