#panel tr.headerRow {
	background-color: #f0f0f0
}

#panel tr.clickableRow {
	cursor: pointer
}

#panel tr.clickableRow:hover {
	background-color: #f0f0f0
}

#panel tr.clickableRow:active {
	background-color: #ddd
}

table#panel {
	border: 1px solid black;
	border-collapse:collapse;
	display: inline-block;
	float: left;
	font-size: 15px;
	margin: 5px 10px 0 0;
}

#panel tr {
	border: 1px solid #ccc;
}
#panel td {
	padding: .3em; 
}
#panel a {
	color: a05904;
	font-weight: normal;
	text-decoration: none;
}

#panel a:hover {
	text-decoration: underline;
}

#panel-container {
	border-bottom: 1px solid #ccc;
	overflow-y: scroll;
	width: 100%;
}

#dictionary,
#editor-section,
#right-panel {
	display: inline-block;
	float: left;
	width: 31%;
}

#dictionary {
	margin: 0 1.5%;
}

#editor-section {
	margin: 0 0.5%;
}

.stack-mode #stack {
	overflow-y: inherit;
	width: 100%;
}

#stack {
	margin: 0 1.5% 0  1.5%;
	overflow-y: scroll;
}

.editor-mode #dictionary {
	display: none;	
}

.editor-mode #right-panel {
	width: 56%
}

.editor-mode #editor-section {
	width: 41%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.stack-mode #dictionary,
.stack-mode #editor-section {
	display: none;	
}

.stack-mode #right-panel {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.section-title {
	font-size: 23px;
	color: rgb(160, 89, 4);
	margin-right: 20px;
}

.section-close {
	color: rgb(199, 132, 52);
	float: right;
	font: 15px Arial bold;
	margin: 2px 0px 0 8px;
	background: rgb(255, 242, 229);
	padding: 1px 3px;
}

.section-close:hover {
	cursor: pointer;
	color: white;
	background: rgb(160, 89, 4);
}

#canvas {
	margin-top: 6px;
	resize: none;
	width: 100%;
}

body {
	margin: 0;
}

body.fullscreen {
  overflow: hidden;
}

#header-boxes {
	position: absolute;
	margin: 9px 0 0 192px;
}

.thmtitle {
	text-align: center;
	margin: 9px 35px 12px 0;
}

#thmname {
	font-size: 29px;
}

.header-box {
	background: white;
	padding: 5px 14px;
	border-radius: 14px;
	border: 3px solid #ffe0c0;
}

.dictionary-entry {
	margin-left: 10px;	
	display:none;
}


.edit-entry {
  background: #f3f3f3;
  display: none;
  margin-left: 20px;
  padding: 3px 10px;
  border-radius: 14px;
  border: 1px solid #c7c7c7;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.edit-entry:hover {
	background: #FFF7EC;
	border-color: rgb(236, 185, 132);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.editor-mode .dictionary-entry {
	display: inline;	
}

.stack-mode .edit-entry {
	display: inline;	
}

.dictionary-entry:hover {
	border-color: rgb(236, 185, 132);
	cursor: default;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#authetication {
	position: absolute;
	right: 38px;
	font-size: 11px;
	top: 24px;
	color: #666;
}

.ace_marker-layer .gh_error {
    position: absolute;
    z-index: 4;
    background-color: red;
}

#editor { 
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
}

#nav {
    position: relative;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    /* float: left; */
    height: 25px;
    z-index: 10;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
#nav li {
    float: left;
    position: relative;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    background: #ccc;
    text-decoration: none;
}
#nav a:hover {
    background: #78f;
}
#nav li ul {
    position: absolute;
    display: none;
    /*float: none;*/
}
#nav li ul a {
    background: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    width: 10em;
    padding: 4px 10px;
}
#nav li:hover ul {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
#nav.off li ul {
    display: none;
}

#status {
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    float: right;
}

#tabmenu {
    clear: both;
    background: #aaa;
    border-bottom: 1px solid black;
    margin: 0 0 0 0;
    padding: 6px 0 1px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
}

#tabmenu li {
    display: inline;
    list-style-type: none;
}

#tabmenu a {
    color: #000;
    text-decoration: none;
}

#tabmenu li > a {
    background: #998;
    border: 1px solid #555;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    padding: 2px 5px 1px 5px;
    margin: 0 0 0 5px;
}

#tabmenu a.close {
	margin-left: 5px;
}

#tabmenu a.close:hover {
    color: #c00;
}

#tabmenu a.active {
    padding-bottom: 2px;
    border-color: #000;
    background: #ccb;
}

#tabmenu a:hover {
    background: #eed;
}

#tabmenu a:active {
    background: #ffe;
}

.dirlink {
    text-decoration: none;
}

.dirlink:hover {
    text-decoration: underline;
}

.proof-step-div td {
	color: #333;
	/*padding: 5px 10px;*/
	padding: 5px 1px;
}

.proof-step-div td.first-column {
	padding-left: 10px;
}

.proof-step-div td.last-column {
	padding-right: 10px;
}

.highlighted-step td,
.highlighted-bottom td {
	background: #f4f4f4;
	border-color: c0c0c0;
}

.proof-block.input-args {
	border: 1px dashed #c0c0c0;
}

.proof-block .orange-step td,
.error-in-step td {
	background: #fff8f0;
	border-color: #ffd5a9;
}

.proof-block .orange-step td.step-x {
	background: #fff;
	border-color: #fff;
}

.proof-block .orange-step td.inactive-x.step-x,
.proof-step-div td.inactive-x.step-x {
	color: #fff;
}

.proof-block .orange-step td.step-x,
.proof-step-div td.step-x {
	color: #ccc;
	font: 14px Arial bold;
	padding-left: 10px;
}

.proof-step-div td.step-x:hover {
	color: rgb(160, 89, 4);;
	cursor: pointer;
}

.stack-mode .step-x {
	display: none;
}

.highlighted-bottom.orange-step td,
.highlighted-step.orange-step td {
	background: #fff8f0;
	border-color: #ffba73;
}

.gray-block .highlighted-step.orange-step td,
.gray-block .highlighted-bottom.orange-step td {
	background-color: #fff6ec;
}

.error .proof-step-div td {
	color: #c00;
}

.highlighted-step td,
.highlighted-bottom td,
.proof-block .orange-step td {
	border-width: 1px;
	border-style: solid;
	border-left: 0;
	border-right: 0;
	padding: 4px 1px; /* 9px;  /* To offset the 1 pixel extra border. */
	/*box-shadow: 0px 2px 5px 0px #eee;*/
	color: black;
	cursor: default;
}

.highlighted-step td.first-column,
.highlighted-bottom td.first-column,
.proof-block .orange-step td.first-column {
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 9px;
}

.highlighted-step td.first-column,
.highlighted-step td.last-column,
.highlighted-bottom td.first-column,
.highlighted-bottom td.last-column {
	border-color: c0c0c0;
}

.orange-step td.first-column,
.orange-step td.last-column {
	border-color: #ffd5a9;
}

.highlighted-step.orange-step td.first-column,
.highlighted-step.orange-step td.last-column,
.highlighted-bottom.orange-step td.first-column,
.highlighted-bottom.orange-step td.last-column {
	border-color: #ffba73;
}

.highlighted-step td.last-column,
.highlighted-bottom td.last-column,
.proof-block .orange-step td.last-column {
	border-right-width: 1px;
	border-right-style: solid;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 9px;
}

.open-top td.first-column,
.open-top td.last-column,
.proof-block .orange-step.open-top td,
.highlighted-step.highlighted-open-top td.first-column,
.highlighted-step.highlighted-open-top td.last-column,
.gray-block .highlighted-step.open-top.orange-step td {
	border-top: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 5px;
}

.open-bottom td.first-column,
.open-bottom td.last-column,
.proof-block .orange-step.open-bottom td,
.highlighted-bottom td.first-column,
.highlighted-bottom td.last-column,
.gray-block .highlighted-step.open-bottom.orange-step td {
	border-bottom: 0;
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-bottom: 5px;
}

.gray-block .highlighted-step td {
	background: #fff;
}

.table-border {
	border: 1px #d5d5d5 solid;
	border-radius: 5px;
	padding: 0;
}

.table-border.orange-table {
	background-color: #fff8f0;
	border-color: #ffd8b0;
	cursor: default;
}

.table-no-border {
	padding: 0 1px;
}

.proof-step-name {
	cursor: default;
	float: right;
	color: #aaa;
	font-size: 10px;
	padding-top: 0px;
	width: 100px;
	text-align: center;
}

.proof-step-name.primary-step-name,
.table-border .proof-step-name.primary-step-name {
	color: #5c5c5c;
}

a.proof-step-name {
	color: rgb(221, 179, 129);
	cursor: pointer;
}

a.proof-step-name.primary-step-name,
.table-border a.proof-step-name.primary-step-name {
	color: rgb(212, 130, 30);
	font-size: 10px;
}

a.proof-step-name:hover {
	cursor: pointer;
}

.type-container {
}

.type-tag {
	color: white;
	margin: 1px 2px 0 2px;
	padding: 2px 4px;
	display: inline-block;
	font-size: 12px;
	width: 22px;
	text-align: center;
}

.type-wff {
	background: #ebd0d0;
}

.type-nat {
	background: #b4d5b4;
}

.type-set {
	background: #b7c0e2;
}

.type-bind {
	background: #e9e1a5;
	color: white;
}

.type-wff-error {
	background: red;
}

.type-nat-error {
	background: #00d300;
}

.type-set-error {
	background: #003dff;
}

.type-bind-error {
	background: #ffe000;
	color: #acacac
}

.proof-block {
	background: white;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	box-shadow: 0px 2px 7px 0px #ddd;
	margin: 0 20px 20px 0;
	padding: 6px 6px 6px 8px;
}

.proof-block.orange-block {
	background-color: #fff8f0;
	border-color: #ffba73;
	cursor: default;
}

.proof-block.gray-block.orange-block {
	background-color: #fff6ec;
}

.proof-block.gray-block {
	background: #f4f4f4;
}

.proof-block.inner-block {
  margin: 0 0 3px 0;
}

.orange-block .proof-block.inner-block {
  box-shadow: none;
}

.summary {
  font-style: italic;
  margin: 0 56px 13px 25px;
  text-align: justify;
}

.no-summary {
	height: 9px;
}

.hidden {
	opacity: 0;
}

textarea:selection,
textarea:-moz-selection,
textarea:-webkit-selection {
  color: #ff0000;
}

#save,
#number-adder,
#set-adder {
	float: right;
	width: 50px;
}

.highlight-symbol {
	color: #b94300;
}

.highlighted-step .highlight-symbol {
	color: #ff5c00;
}

.highlighted-button {
	border: 1px solid rgb(139, 71, 0);
	color: rgb(190, 105, 16);
	background: rgb(255, 240, 224);
	border-radius: 3px;
}

.red {
	color: rgb(201, 41, 41);
}

.magenta {
	color: rgb(174, 48, 223);
}

.blue {
	color: rgb(72, 83, 204);
}

.cyan {
	color: rgb(0, 177, 170);
}

.green {
	color: rgb(22, 180, 0);
}

.black {
	color: black;
}

.editor-body {
	white-space: nowrap
}

.minor-input {
	border: 1px solid #bbb;
	width: 130px;
}

.notation-closed,
.notation-open {
	color: #888;
	font-size: 14px;
	margin: 0 0 6px 20px;
}

.notation-open {
	color: black;
}

.notation-closed:before {
	content:'▶ ';
	font-size: 12px;
}

.notation-open:before {
	content:'▼ ';
	font-size: 12px;
}

.notation-closed:hover,
.notation-open:hover {
	cursor: pointer;
	color: #E47600;
}
.notation-body {
	margin: 0 20px;
}

.notation-guide {
	display: inline-block;
	margin-right: 24px;
}

.guide-no-link {
	color: #555;
}

a {
	color: #b64900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.sum-middle {
    position: relative;
    font-size: 30px;
    display: inline-block;
    line-height: .7em;
    vertical-align: middle;
}

.sum-top {
    font-size: 9px;
    display: block;
    position absolute;
    left: 0;
    top: 0;
    width: 18px;
    text-align: center;
}

.sum-bottom {
    font-size: 9px;
    display: block;
    position absolute;
    left: 0;
    bottom: 0;
    width: 18px;
    text-align: center;
}