#panel tr.headerRow {
	background-color: #f0f0f0
}

#panel tr.clickableRow {
	cursor: pointer
}

#panel tr.clickableRow:hover {
	background-color: #f0f0f0
}

#panel tr.clickableRow:active {
	background-color: #ddd
}

table#panel {
	border: 1px solid black;
	border-collapse:collapse;
	display: inline-block;
	float: left;
	font-size: 15px;
	margin: 5px 10px 0 0;
}

#panel tr {
	border: 1px solid #ccc;
}
#panel td {
	padding: .3em; 
}
#panel a {
	color: rgb(160, 89, 4); 
	font-weight: normal;
	text-decoration: none;
}

#panel a:hover {
	text-decoration: underline;
}

#panel-container {
	border-bottom: 1px solid #ccc;
	overflow-y: scroll;
	width: 100%;
}

#dictionary,
#editor-section,
#right-panel {
	display: inline-block;
	float: left;
	width: 31%;
}

#dictionary {
	margin: 0 1.5%;
}

#editor-section {
	margin: 0 0.5%;
}

#stack {
	margin: 0 1.5% 0  1.5%;
	overflow-y: scroll;
}

.editor-mode #dictionary {
	display: none;	
}

.editor-mode #right-panel {
	width: 55%
}

.editor-mode #editor-section {
	width: 40%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.stack-mode #dictionary,
.stack-mode #editor-section {
	display: none;	
}

.stack-mode #right-panel {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.section-title {
	font-size: 23px;
	color: rgb(160, 89, 4);
	margin-right: 20px;
}

.section-close {
	color: rgb(199, 132, 52);
	float: right;
	font: 15px Arial bold;
	margin: 2px 0px 0 8px;
	background: rgb(255, 242, 229);
	padding: 1px 3px;
}

.section-close:hover {
	cursor: pointer;
	color: white;
	background: rgb(160, 89, 4);
}

#canvas {
	margin-top: 6px;
	resize: none;
	width: 100%;
}

body {
	margin: 0;
}

body.fullscreen {
  overflow: hidden;
}

#title {
	margin: 45%;
}

#thmname {
	font-size: 36px;
}

.header-box {
	background: rgb(255, 255, 255);
	padding: 5 14px;
	border-radius: 14px;
	border: 3px solid #ffe0c0;
}

.edit-entry,
.dictionary-entry {
	margin-left: 10px;	
	display:none;
}

.editor-mode .dictionary-entry {
	display: inline;	
}

.stack-mode .edit-entry {
	display: inline;	
}

.edit-entry:hover,
.dictionary-entry:hover {
	border-color: rgb(236, 185, 132);
	cursor: default;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#authetication {
	position: absolute;
	right: 38px;
	width: 90px;
	font-size: 12px;
	top: 28px;
	color: #666;
}

.ace_marker-layer .gh_error {
    position: absolute;
    z-index: 4;
    background-color: red;
}

#editor { 
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
}

#nav {
    position: relative;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    /* float: left; */
    height: 25px;
    z-index: 10;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
#nav li {
    float: left;
    position: relative;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    background: #ccc;
    text-decoration: none;
}
#nav a:hover {
    background: #78f;
}
#nav li ul {
    position: absolute;
    display: none;
    /*float: none;*/
}
#nav li ul a {
    background: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    width: 10em;
    padding: 4px 10px;
}
#nav li:hover ul {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
#nav.off li ul {
    display: none;
}

#status {
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    float: right;
}

#tabmenu {
    clear: both;
    background: #aaa;
    border-bottom: 1px solid black;
    margin: 0 0 0 0;
    padding: 6px 0 1px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
}

#tabmenu li {
    display: inline;
    list-style-type: none;
}

#tabmenu a {
    color: #000;
    text-decoration: none;
}

#tabmenu li > a {
    background: #998;
    border: 1px solid #555;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    padding: 2px 5px 1px 5px;
    margin: 0 0 0 5px;
}

#tabmenu a.close {
	margin-left: 5px;
}

#tabmenu a.close:hover {
    color: #c00;
}

#tabmenu a.active {
    padding-bottom: 2px;
    border-color: #000;
    background: #ccb;
}

#tabmenu a:hover {
    background: #eed;
}

#tabmenu a:active {
    background: #ffe;
}

.dirlink {
    text-decoration: none;
}

.dirlink:hover {
    text-decoration: underline;
}

.proof-step-div td {
	color: #333;
	/*padding: 5px 10px;*/
	padding: 5px 1px;
}

.proof-step-div td.first-column {
	padding-left: 10px;
}

.proof-step-div td.last-column {
	padding-right: 10px;
}

.highlighted-step td {
	background: #f8f8f8;
	border-color: e6e6e6;
}

.proof-block .orange-step td,
.error-in-step td,
.highlighted-step.orange-step td,
.gray-block .highlighted-step.orange-step td {
	background: #fff8f0;
	border-color: #ffe0c0;
}

.highlighted-step td,
.proof-block .orange-step td,
.error-in-step td {
	border-width: 1px;
	border-style: solid;
	border-left: 0;
	border-right: 0;
	padding: 4px 1px; /* 9px;  /* To offset the 1 pixel extra border. */
	/*box-shadow: 0px 2px 5px 0px #eee;*/
	color: black;
	cursor: default;
}

.highlighted-step td.first-column {
	border-left-color: e6e6e6;
}

.proof-block .orange-step td.first-column {
	border-left-color: #ffe0c0;
}

.highlighted-step td.first-column,
.proof-block .orange-step td.first-column {
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 9px;
}

.highlighted-step td.last-column {
	border-right-color: e6e6e6;
}

.proof-block .orange-step td.last-column {
	border-right-color: #ffe0c0;
}

.highlighted-step td.last-column,
.proof-block .orange-step td.last-column {
	border-right-width: 1px;
	border-right-style: solid;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 9px;
}

.proof-block .orange-step.open-top td,
.highlighted-step.open-top.orange-step td,
.gray-block .highlighted-step.open-top.orange-step td {
	border-top: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 5px;
}

.proof-block .orange-step.open-bottom td,
.highlighted-step.open-bottom.orange-step td,
.gray-block .highlighted-step.open-bottom.orange-step td {
	border-bottom: 0;
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-bottom: 5px;
}

.gray-block .highlighted-step td {
	background: #fff;
}

/* Undo the highlighted on the step if the whole block or table is highlighted. */
.orange-block .highlighted-step td,
.orange-table .highlighted-step td {
	background: none;
	border: 0;
	/*padding: 5px 10px 5px 40px;*/
	padding: 5px 1px;
}

.orange-block .highlighted-step td.first-column,
.orange-table .highlighted-step td.first-column {
	padding-left: 10px;
}

.orange-block .highlighted-step td.last-column,
.orange-table .highlighted-step td.last-column {
	padding-right: 10px;
}

.orange-block .highlighted-step.orange-step td,
.gray-block.orange-block .highlighted-step.orange-step td {
	background: #fff8f0;
	border: 0;
}

.proof-block.orange-block .orange-step td {
	border: 0;
	box-shadow: 0 0 0 0 #eee;
	padding: 5px 1px; /* 10px;*/
}

.indented-step.unstyled.orange-step td,
.indented-step.highlighted-step.unstyled td {
	padding-left: 39px;
}

.orange-block .indented-step.unstyled.orange-step td,
.orange-block .indented-step.highlighted-step.unstyled td {
	padding-left: 40px;
}

.table-border {
	border: 1px #d5d5d5 solid;
	border-radius: 5px;
	padding: 0 3px;
}

.table-border.orange-table {
	background-color: #fff8f0;
	border-color: #ffd8b0;
	cursor: default;
}

/**
 * Currently disabled. Only slightly visible. Not working when the whole block is orange.
.table-background {
	background: #fdfdfd;
}

.gray-block .table-background {
	background: #fafafa;
}*/

.table-no-border {
	padding: 0 4px;
}

.proof-step-div.error-in-step td {
	background: #fff;
	border: 1px solid #ffc0c0;
	color: #f00;
}

.proof-step-div:hover .error-in-step td,
.proof-step-div.error-in-step.highlighted-step td {
	background: #fff0f0;
	border: 1px solid #ffc0c0;
	color: #f00;
}

.proof-step-name,
.table-border .indented-step .proof-step-name {
	cursor: default;
	float: right;
	color: #aaa;
	font-size: 9px;
	padding-top: 0px;
	width: 80px;
	text-align: center;
}

.proof-step-name.primary-step-name,
.table-border .proof-step-name.primary-step-name {
	color: #5c5c5c;
}

a.proof-step-name,
.table-border .indented-step a.proof-step-name {
	color: rgb(221, 179, 129);
}

a.proof-step-name.primary-step-name,
.table-border a.proof-step-name.primary-step-name {
	color: rgb(212, 130, 30);
	font-size: 10px;
}

a.proof-step-name:hover {
	cursor: pointer;
}

.proof-step-name.display-on-hover {
	display: none;
}

.highlighted-step .proof-step-name.display-on-hover {
	display: inline;
}

.orange-block .proof-step-name.display-on-hover,
.orange-block highlighted-step .proof-step-name.display-on-hover {
	display: none;
}

.proof-block {
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 0px #f0f0f0;
	margin: 0 20px 20px 0;
	padding: 6px 6px 6px 8px;
}

.proof-block.gray-block.orange-block,
.proof-block.orange-block,
.proof-block.primary-block.orange-block {
	background-color: #fff8f0;
	border-color: rgb(255, 186, 115);
	cursor: default;
}

.proof-block.primary-block {
	border-color: #aaa;
	box-shadow: 0px 2px 7px 0px #ddd;
	color: black;
}

.proof-block.gray-block {
	background: #f8f8f8;
}

.indented-step.unstyled td {
	padding-left: 40px;
}

.hidden {
	opacity: 0;
}

textarea:selection,
textarea:-moz-selection,
textarea:-webkit-selection {
  color: #ff0000;
}

#save,
#number-adder,
#set-adder {
	float: right;
	width: 60px;
}

.highlight-symbol {
	color: #b94300;
}

.highlighted-step .highlight-symbol {
	color: #ff5c00;
}

.highlighted-button {
	border: 1px solid rgb(139, 71, 0);
	color: rgb(190, 105, 16);
	background: rgb(255, 240, 224);
	border-radius: 3px;
}

.red {
	color: rgb(201, 41, 41);
}

.magenta {
	color: rgb(174, 48, 223);
}

.blue {
	color: rgb(72, 83, 204);
}

.cyan {
	color: rgb(0, 177, 170);
}

.green {
	color: rgb(22, 180, 0);
}

.black {
	color: black;
}

.editor-body {
	style="white-space:nowrap"
}

.minor-input {
	border: 1px solid #bbb;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
