#panel tr.headerRow {
	background-color: #f0f0f0
}

#panel tr.clickableRow {
	cursor: pointer
}

#panel tr.clickableRow:hover {
	background-color: #f0f0f0
}

#panel tr.clickableRow:active {
	background-color: #ddd
}

table#panel {
	border: 1px solid black;
	border-collapse:collapse;
	display: inline-block;
	float: left;
	font-size: 15px;
	margin: 5px 10px 0 0;
}

#panel tr {
	border: 1px solid #ccc;
}
#panel td {
	padding: .3em; 
}
#panel a {
	color: rgb(160, 89, 4); 
	font-weight: normal;
	text-decoration: none;
}

#panel a:hover {
	text-decoration: underline;
}

#panel-container {
	border-bottom: 1px solid #ccc;
	overflow-y: scroll;
	width: 100%;
}

#dictionary,
#editor-section,
#stack {
	display: inline-block;
	float: left;
	width: 31%;
}

#dictionary {
	margin: 0 1.5%;
}

#editor-section {
	margin: 0 0.5%;
}

#stack {
	margin: 70px 1.5% 0  1.5%;
	overflow-y: scroll;
}

.editor-mode #dictionary {
	display: none;	
}

.editor-mode #stack,
.editor-mode #editor-section {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

.stack-mode #dictionary,
.stack-mode #editor-section {
	display: none;	
}

.stack-mode #stack {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.section-title {
	font-size: 23px;
	color: rgb(160, 89, 4);
	margin-bottom: 2px;
}

.section-close {
	color: rgb(199, 132, 52);
	float: right;
	font: 15px Arial bold;
	margin: 2px 0px 0 8px;
	background: rgb(255, 242, 229);
	padding: 1px 3px;
}

.section-close:hover {
	cursor: pointer;
	color: white;
	background: rgb(160, 89, 4);
}

#canvas {
	margin-top: 6px;
	resize: none;
	width: 100%;
}

body {
	margin: 0;
}

body.fullscreen {
  overflow: hidden;
}

#title {
	margin: 45%;
}

#thmname {
	font-size: 36px;
}

.header-box {
	background: rgb(255, 255, 255);
	padding: 5 14px;
	border-radius: 14px;
	border: 3px solid #ffe0c0;
}

.edit-entry,
.dictionary-entry {
	margin-left: 10px;	
	display:none;
}

.editor-mode .dictionary-entry {
	display: inline;	
}

.stack-mode .edit-entry {
	display: inline;	
}

.edit-entry:hover,
.dictionary-entry:hover {
	border-color: rgb(236, 185, 132);
	cursor: default;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#authetication {
	position: absolute;
	right: 38px;
	width: 90px;
	font-size: 12px;
	top: 28px;
	color: #666;
}

.ace_marker-layer .gh_error {
    position: absolute;
    z-index: 4;
    background-color: red;
}

#editor { 
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
}

#nav {
    position: relative;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    /* float: left; */
    height: 25px;
    z-index: 10;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
#nav li {
    float: left;
    position: relative;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    background: #ccc;
    text-decoration: none;
}
#nav a:hover {
    background: #78f;
}
#nav li ul {
    position: absolute;
    display: none;
    /*float: none;*/
}
#nav li ul a {
    background: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    width: 10em;
    padding: 4px 10px;
}
#nav li:hover ul {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
#nav.off li ul {
    display: none;
}

#status {
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    float: right;
}

#tabmenu {
    clear: both;
    background: #aaa;
    border-bottom: 1px solid black;
    margin: 0 0 0 0;
    padding: 6px 0 1px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
}

#tabmenu li {
    display: inline;
    list-style-type: none;
}

#tabmenu a {
    color: #000;
    text-decoration: none;
}

#tabmenu li > a {
    background: #998;
    border: 1px solid #555;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    padding: 2px 5px 1px 5px;
    margin: 0 0 0 5px;
}

#tabmenu a.close {
	margin-left: 5px;
}

#tabmenu a.close:hover {
    color: #c00;
}

#tabmenu a.active {
    padding-bottom: 2px;
    border-color: #000;
    background: #ccb;
}

#tabmenu a:hover {
    background: #eed;
}

#tabmenu a:active {
    background: #ffe;
}

.dirlink {
    text-decoration: none;
}

.dirlink:hover {
    text-decoration: underline;
}

.proof-step-div {
	border-radius: 5px;
	color: #333;
	padding: 5px 10px;
	margin: 1px 0;
}

.proof-block .proof-step-div:hover,
.proof-step-div.error-in-step {
	background: #fff8f0;
	border: 1px solid #ffe0c0;
	padding: 4px 9px;  /* To offset the 1 pixel extra border. */
	box-shadow: 0px 2px 5px 0px #eee;
	color: black;
	cursor: default;
}


.proof-step-div.indented-step.highlighted-step:hover,
.gray-block .proof-step-div.indented-step.highlighted-step:hover {
	background: #fff8f0;
	border: 1px solid #ffe0c0;
}

.proof-block.highlighted-block .proof-step-div:hover {
	border: 0;
	box-shadow: 0 0 0 0 #eee;
	padding: 5px 10px;
}

.proof-step-div:hover.indented-step {
	padding: 4px 9px 4px 39px;
}

.proof-step-div.error-in-step {
	background: #fff;
	border: 1px solid #ffc0c0;
	color: #f00;
}

.proof-step-div:hover .error-in-step,
.proof-step-div.error-in-step.highlighted-step {
	background: #fff0f0;
	border: 1px solid #ffc0c0;
	color: #f00;
}

.proof-step-name {
	cursor: default;
	float: right;
	margin-right: 5px;
	color: #888;
}

a.proof-step-name {
	color: rgb(162, 114, 56);
	cursor: pointer;
}

.proof-step-name.display-on-hover {
	display: none;
}

.highlighted-step .proof-step-name.display-on-hover {
	display: inline;
}

.highlighted-block .proof-step-name.display-on-hover,
.highlighted-block highlighted-step .proof-step-name.display-on-hover {
	display: none;
}

.proof-block {
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 0px #f0f0f0;
	margin: 20px 20px 0 0;
	padding: 6px;
}

.proof-block.gray-block.highlighted-block,
.proof-block.highlighted-block,
.proof-block.primary-block.highlighted-block {
	background-color: #fff8f0;
	border-color: rgb(255, 186, 115);
}

.proof-block.primary-block {
	border-color: #aaa;
	box-shadow: 0px 2px 7px 0px #ddd;
	color: black;
}

.proof-block.gray-block {
	background: #f8f8f8;
}

.indented-step {
	padding: 5px 40px;
}

.proof-step-div.indented-step.highlighted-step {
	background: #f8f8f8;
	border: 1px solid #e6e6e6;
	padding: 4px 9px 4px 39px;;  /* To offset the 1 pixel extra border. */
}

.gray-block .proof-step-div.indented-step.highlighted-step {
	background: #fff;
}

/* Undo the highlighted on the step if the whole block is highlighted. */
.highlighted-block .proof-step-div.indented-step.highlighted-step {
	background: none;
	border: 0;
	padding: 5px 10px 5px 40px;
}

textarea:selection,
textarea:-moz-selection,
textarea:-webkit-selection {
  color: #ff0000;
}

#save {
	float: right;
	width: 60px;
}

.highlight-symbol {
	color: #b94300;
}

.highlighted-step .highlight-symbol {
	color: #ff5c00;
}

.highlighted-button {
	border: 1px solid rgb(139, 71, 0);
	color: rgb(190, 105, 16);
	background: rgb(255, 240, 224);
	border-radius: 3px;
}

.editor-body {
	style="white-space:nowrap"
}

.minor-input {
	border: 1px solid #bbb;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
