.selectable-child,
.matching-exp,
.selected-exp.no-child {
	color: rgb(165, 104, 31);
}

.selectable-child:hover,
.selected-exp.no-child:hover {
	background: rgb(255, 218, 171);
	border-radius: 2px;
	color: rgb(226, 93, 3);
	cursor: pointer;
}

.selectable-ancestor,
.selected-uncle {
	color: #646464;
}

/*.selectable-ancestor:hover,*/
.selected-uncle:hover {
	color: rgb(165, 104, 31);
	border-radius: 2px;
	cursor: pointer;
}

.hovered-ancestor {
	background: rgb(245, 234, 215);
	border-radius: 2px;
	color: rgb(165, 104, 31);
	cursor: pointer;
}

.matching-exp,
.selected-exp {
	background: rgb(245, 234, 215);
	border-radius: 2px;
}

.suggest-exp {
	margin: 2px 10px;
	display: inline-block;
}

.suggest-area {
	border: 1px solid rgb(179, 179, 179);
	height: 23px;
	opacity: 0;
	padding: 7px;
}

.suggest-area.secondary {
	opacity: 0;
	border-bottom: 0px none;
}

.suggest-area.active {
	opacity: 1;
}

.suggest-button {
	float: right;
}

.suggest-button input {
	font-size: 9px;
	height: 23px;
	width: 55px;
	margin: 0 1px;
}

.suggest-category {
	margin-right: 10px;
	padding: 7px 10px 11px 0;
	border-right: 1px solid #B8B8B8;
}

.category-label {
	font-size: 12px;
	color: #666;
	margin-right: 4px;
}

.suggest-button .suggest-category input {
	font-size: 10px;
	width: auto;
	margin: 0;
	padding: 2px 4px;
}

#suggest {
	margin: 29px 49px 9px 9px;
}

.stack-mode #suggest {
	display: none;	
}