/* The body margin is being set somewhere. I don't know where. It would
 * be better to change it there. Same with h2. */
body {
	margin: 0;
}

h2 {
	-webkit-margin-after: 0;
}

h1 {
	margin-left: 20px;
}

.list-section {
	margin: 0 20px;
}

.code {
  font-family: monospace;
}
.intermediate {
  background-color: #cfc;
}
.highlighted {
  background-color: #ccc;
}
.error_indicator {
  color: #c00;
  text-decoration: none;
}
.listthmline {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.listthm {
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 10px;
	border: 1px solid white;
}
.listthm:nth-child(even) {
  background-color: #e7e7e7
}

.listthm:hover {
  background: #fdecd8;
  border: 1px solid #fdd0a2;
  cursor: pointer;
}

.listthm a {
	color: #a05904;
	font-weight: normal;
	text-decoration: none;
}

.listthm:hover a {
	color: #ee5600;
	font-weight: normal;
	text-decoration: none;
}

.listthm a:hover {
	text-decoration: underline;
}
