/* The body margin is being set somewhere. I don't know where. It would
 * be better to change it there. Same with h2. */
body {
	margin: 0;
}

h2 {
	-webkit-margin-after: 0;
}

h1 {
	margin-left: 20px;
}

.list-section {
	margin: 0 20px;
}

.title {
  font-size: 30px;
}

.title-container {
  margin: 10px 0 28px 40px;
}

.code {
  font-family: monospace;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hide-code .code {
	display: none;
}

.intermediate {
	background-color: #ffefd2;
	margin-right: 40px;
	padding: 5px 10px;
	border-radius: 3px;
}

.hide-code .intermediate {
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}

.highlighted {
  background-color: #ccc;
}
.error_indicator {
  color: #c00;
  text-decoration: none;
}
.listthmline {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.listthm {
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 10px;
	border: 1px solid white;
}
.listthm:nth-child(even) {
  background-color: #e7e7e7
}

.listthm:hover {
  background: #fdecd8;
  border: 1px solid #fdd0a2;
  cursor: pointer;
}

.listthm a {
	color: #a05904;
	font-weight: normal;
	text-decoration: none;
}

.listthm:hover a {
	color: #ee5600;
	font-weight: normal;
	text-decoration: none;
}

.listthm a:hover {
	text-decoration: underline;
}

a.edit-entry {
	color: black;
}

a.edit-entry {
	color: black;
}

a.edit-entry {
	background: #f3f3f3;
	color: black;
	margin-left: 20px;
	padding: 3px 10px;
	border-radius: 14px;
	border: 1px solid #c7c7c7;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
	font-size: 13px;
}

a.edit-entry:hover {
	background: #FFF7EC;
	border-color: rgb(236, 185, 132);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
  	text-decoration: none;
}

.end-edit {
	padding: 20px 40px;
	font-size: 17px;
}

input {
	margin-left: 20px;
}
