#tree { white-space:nowrap; position:relative;}
span.tree {padding-top: 2px; position:relative; display:block;float:left; text-align: center; vertical-align:top;}
span.i.tree {cursor: pointer;}
span.arg { margin-left:.5em;}
span.first { margin-left:0;}
span.i.var:hover,span.i.operator:hover {background-color:#dddddd;}
span.i.var:active,span.i.operator:active {background-color:#cccccc;}
span.i.operator:hover+span.args {background-color:#eeeeee;}
span.i.operator:active+span.args {background-color:#cccccc;}
span.operator {float:none; border: 1px solid black;}
span.var {float:left}
span.i.tree {
        transition:left, top, opacity;        transition-duration: 1s;
-webkit-transition:left, top, opacity;-webkit-transition-duration: 1s;
   -moz-transition:left, top, opacity;   -moz-transition-duration: 1s;
}/* HACK: this must be synced with GHT.onTransitionEnd */
span.var {padding-left: .5em;padding-right: .5em;}
.binding_binding {text-decoration:underline;}
span.binding_terminal {border-top:2px solid blue;}
span.binding_initial {border-top:2px solid red;}
span.binding_exact {border-top:2px solid purple;}

#popup {position: absolute; border: 1px solid black; background-color: #eeeeff }
#popup tr.i {cursor:pointer}
#popup tr.i:hover {background-color: #ddddff;}
#popup tr.i:active {background-color: #ccccff;}
#popup tr.i td {padding-left: .5em;}
#tip {background-color: #bbbbee; padding: 4px;}
.startwith {text-transform:uppercase; font-size:80%; color:green;font-family:monospace }
#autogoal {position:relative; color:red;
           transition: left 1s;
   -webkit-transition: left 1s;
      -moz-transition: left 1s;
          }

/* HACK: this must be synced with GHT.Tip */
#achieved { position:absolute; left: 0; top: 40%; font-size:800%;white-space:nowrap;
        transition:all 1s ease-out .2s;
-webkit-transition:all 1s ease-out .2s;
   -moz-transition:all 1s ease-out .2s;
}
#achieved.animated { top: 0; opacity:0; }
