table { white-space:nowrap;}
tr:hover + tr { background-color: #eeeeee;}
td.operator { border:1px solid black;; text-align:center; }
td.operator:hover {background-color:#dddddd;}
td:active {background-color:#cccccc;}
td { vertical-align:top; cursor:pointer;}
#popup {position: absolute; border: 1px solid black; background-color: #eeeeff }
#popup tr {padding: 0; margin: 0; }
#popup tr {padding: .6em; margin: 0; cursor:pointer}
#popup tr:hover {background-color: #ddddff;}
#popup tr:active {background-color: #ccccff;}
.binding_binding {text-decoration:underline;}
span.var {padding-left: .5em;padding-right: .5em;}
span.var:hover {background-color:#dddddd;}
span.binding_terminal,.binding_terminal>tr>.operator {border-top:2px solid blue;}
span.binding_initial,.binding_initial>tr>.operator {border-top:2px solid red;;}
