#tree { white-space:nowrap; position:relative;}

span.tree {padding-top: 2px; position:relative; display:block;float:left; text-align: center; vertical-align:top; white-space:nowrap;}
span.i.tree {cursor: pointer;}
span.arg { margin-left:.5em;}
span.first { margin-left:0;}
span.i.var:hover,span.i.operator:hover {background-color:#dddddd;}
span.i.var:active,span.i.operator:active {background-color:#cccccc;}
span.i.operator:hover+span.args {background-color:#eeeeee;}
span.i.operator:active+span.args {background-color:#cccccc;}
span.operator {float:none; border: 1px solid black;}
span.var {float:left}
span.i.tree {
        transition:left, top, opacity;        transition-duration: 1s;
-webkit-transition:left, top, opacity;-webkit-transition-duration: 1s;
   -moz-transition:left, top, opacity;   -moz-transition-duration: 1s;
}/* HACK: this must be synced with GHT.onTransitionEnd */

span.var {padding-left: .5em;padding-right: .5em;}
.binding_binding {text-decoration:underline;}
span.binding_terminal {border-top:2px solid blue;}
span.binding_initial {border-top:2px solid red;}
span.binding_exact {border-top:2px solid purple;}

#tree {display:inline-block; margin: 3em;}

#popup {border: 1px solid gray; background-color: #eeeeff;padding:0px; display:inline-block; width:80%; margin-left:10%}
#popup table {border-spacing:0}
#popup span.i > .tree {display:inline; border: 2px solid black; }
#popup span.tr {white-space:nowrap; display:block;}
#popup span.i {cursor:pointer; display:inline-block;width:20%;height:10em;
	       overflow:auto;text-align:center;vertical-align:top;}
#popup .i:hover, #popup .tree {background-color: #ddddff;}
#popup .i:active {background-color: #ccccff;}
#popup .i {padding-left: .5em; border:1px solid gray}



#tip {background-color: #bbbbee; padding: 4px;}
.startwith {text-transform:uppercase; font-size:80%; color:green;font-family:monospace;white-space:nowrap }
#autogoal {position:relative; color:red;
           transition: left 1s;
   -webkit-transition: left 1s;
      -moz-transition: left 1s;
          }
.goalmatch { color: red; }
/* HACK: this must be synced with GHT.Tip */
#achieved { position:absolute; left: 0; top: 40%; font-size:800%;white-space:nowrap;
        transition:all 1s ease-out .2s;
-webkit-transition:all 1s ease-out .2s;
   -moz-transition:all 1s ease-out .2s;
}
#achieved.animated { top: 0; opacity:0; }

#scoreWrapper { display:block; border: 1px solid black; position:relative; white-space:nowrap;}
#player\.nextLevel {position:relative;}
#player\.score {background-color:pink; display:inline-block; text-align:right;
        transition:all 1s;
   -moz-transition:all 1s;
-webkit-transition:all 1s;
}
/* Always keep the scrollbar -- this avoids unpleasant resizing when the tree/menu
   grows and shrinks. */
html {overflow-y:scroll;}
